.ticket-container {
  height: 300px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;

  &-divider {
    margin: 5px 0;
  }

  &-buy-button {
    height: 48px;
    width: 240px;
    background-color: #ff6f32;
    margin: auto;
  }
}
